---
import "../styles/global.css";

const props = Astro.props;
---

<div
  class="border-2 rounded-lg border-neutral-700 text-neutral-300 p-6 m-6 space-y-2 sm:text-xl"
>
  <p class="font-bold text-neutral-100">
    {props.degree}&nbsp;|&nbsp;{props.university}
  </p>
  <p class="italic">
    <span class="not-italic">📅&nbsp;</span>{props.dateStart}&nbsp;-&nbsp;{
      props.dateEnd
    }
  </p>
  <p>📍&nbsp;{props.location},&nbsp;{props.country}</p>
</div>
