---
import "../styles/global.css";
import type { JobsProps } from "../types/jobs.types.ts";

const props = Astro.props;
---

<div
  class="border-2 rounded-lg border-neutral-700 text-neutral-300 p-4 m-4 space-y-2"
>
  <p class="font-bold text-neutral-100">
    {props.title}&nbsp;|&nbsp;{props.company}
  </p>
  <p class="italic">
    <span class="not-italic">📅&nbsp;</span>{props.dateStart}&nbsp;-&nbsp;{
      props.dateEnd
    }
  </p>
  <p>📍&nbsp;{props.location},&nbsp;{props.country}</p>
  <p>🎯&nbsp;Tasks&nbsp;&amp;&nbsp;Responsibilities&colon;</p>
  <ul class="list-disc list-inside">
    {props.tasks && props.tasks.map((task: JobsProps) => <li>{task}</li>)}
    <!-- ^ is creating a whole new folder and file for one type-file necessary, just for this? -->
  </ul>
</div>
